#header, .header {
  height: 100px;
  /* position: fixed; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  line-height: 100px;
  font-size: 15px;
  z-index: 1000;
}

.about-parent {
  min-height: calc(100vh - 100px);
}

#about h2 {
  text-align: center;
  font: 1.5rem 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #fafafa;
  text-transform: uppercase;
} 

.uk-container {
  box-sizing: content-box;
  max-width: 1024px;
}

#console {
  background-color: #444444;
  border: 1px solid #fafafa;
  color: #fafafa;
  width: 78%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: 'Karla', sans-serif !important;
  font-size: 18px;
  letter-spacing: 1px;
}

#console .console-name {
  line-height: 40px;
  border-bottom: 1px solid;
}
.console-body {
  width: 600px;
  position: relative;
  margin: 0 auto;
  min-height: 300px;
  padding: 20px 0;
  resize: none;
  text-align: left;
  
}

.console-body .link {
  color: #1e87f0 !important;
}

.console-body .console-item, .console-body .console-item-desc, .console-item-desc .console-item-desc-sub {
  display: block
}

.console-body .console-item-desc, .console-item-desc .console-item-desc-sub {
  margin: 0 0 15px 15px;
}

textarea.about-json {
  width: calc(100% - 100px);
  min-height: 300px;
  padding: 50px 50px;
  border: 0;
  resize: none;
  
  font-size: 1.25rem;
  background-color: #f8f8f8;
}

span.gb-title {
  border-bottom: 3px solid #1e87f0;
  text-transform: uppercase;
} 

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.job-company + .job-company {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #f5f5f5;
}

.job-company ul.duty li {
  text-align: justify;
}

span.gb-icon {
  background-image: url(../images/me.jpg);
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.footer {
  background-color: #4C5364;
}

.scroll-up {
  position: fixed;
  bottom: 80px;
  right: 80px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .console-body {
    width: calc(100% - 40px);
    padding: 20px;
  }
  
  .scroll-up {
    display: none;
  }
}